.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d8d95 0%, #385e70 28.53%, #131a39 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 19%;
}

.hero-text h5{
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-text h1{
    font-family: 'Permanent Market', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.hero-text h4{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-bottom: 10px;
}

.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img{
    width: 600px;
    height: auto;
}

.hero-text a{
    display: inline-block;
    color: white;
    background-color: #b1c05b;
    border: 1px solid transparent;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-left: 8px;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.ctaa{
    vertical-align: middle;
    margin-right: 5px;
}
